# Build setting
**/node_modules/
**/build/
**/.**
**/*.log
**/*.env
!.gitignore

# Work space setting to Project IDX
!.idx
!.mongodb
.mongodb/var

# Dependencies of repositories
src/DBManager/
src/QR-Code/
client/logic/src/WebApp/
client/logic/src/QR-Code/