.home-page {
    width: 500px;
}
.basic-card {
    background: #00000044;
    border: #000 1px solid;
    border-radius: 0.5em;
    display: flex;
    justify-content: space-between;
    margin: 0.5e,;
    padding: 0.5em;
    width: 100%;
}
.basic-card > .card-content {
    padding: 0.5em;
    text-align: center;
    width: 50%;
}
.basic-card > .card-image {
    aspect-ratio: 1 / 1;
    width: 50%;
    max-width: 100%;
    object-fit: cover;
}